<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Infectious | Coronavirus (COVID 19) Medical HTML Template</title>

    <link rel="shortcut icon" href="{{ helper.custom_link('style/assets/images/favicon.ico')}}">
    <link rel="stylesheet" href="{{ helper.custom_link('style/assets/css/master.css')}}">
    <link rel="stylesheet" href="{{ helper.custom_link('style/assets/css/style.css')}}">
    <link rel="stylesheet" href="{{ helper.custom_link('style/assets/css/responsive.css')}}">
</head>
<body>

<!--=== Loader Start ======-->
<div id="loader-overlay">
    <div class="loader">
        <div class="loader-inner"></div>
    </div>
</div>
<!--=== Loader End ======-->

<!--=== Wrapper Start ===-->
<div class="wrapper">

    <!--=== Header Start ===-->
    {{ include('user/components/header.twig')}}
    <!--=== Header End ===-->
    <!--=== Hero Slider Start ===-->
    {{ include('user/components/slider.twig')}}
    <!--=== Hero Slider End ===-->

    <!--=== Welcome Start ===-->
    {{ include('user/components/about_us.twig')}}
    <!--=== Welcome End ===-->

    <!--=== Counter Start ===-->
    {{ include('user/components/counter.twig')}}
    <!--=== Counter End ===-->

    <!--=== Transmission Start ===-->
    {{ include('user/components/transmission.twig')}}
    <!--=== Transmission End ===-->

    <!--=== Symptoms Start ===-->
    {{ include('user/components/symptoms.twig')}}
    <!--=== Symptoms End ===-->

    <!--=== Prevention Start ===-->
    {{ include('user/components/prevention.twig')}}
    <!--=== Prevention End ===-->

    <!--=== Hand Wash Start ===-->
    {{ include('user/components/hand_wash.twig')}}
    <!--=== Hand Wash End ===-->

    <!--=== Our Team Start ===-->
    {{ include('user/components/our_team.twig')}}
    <!--=== Our Team End ===-->
    <!--=== Our Team Start ===-->
    {{ include('user/components/contact.twig')}}
    <!--=== Our Team End ===-->

    <!--=== Faqs Start ===-->
    {{ include('user/components/faq.twig')}}
    <!--=== Faqs End ===-->

    <!--=== Blogs Start ===-->
    {{ include('user/components/blogs.twig')}}
    <!--=== Blogs End ===-->

    <!--=== Footer Start ===-->
    {{ include('user/components/footer.twig')}}
    <!--=== Footer End ===-->

</div>
<!--=== Wrapper End ===-->

<!--=== Javascript Plugins ===-->
<script src="{{ helper.custom_link('style/assets/js/jquery.min.js')}}"></script>
<script src="{{ helper.custom_link('style/assets/js/plugins.js')}}"></script>
<script src="{{ helper.custom_link('style/assets/js/master.js')}}"></script>
<!--=== Javascript Plugins End ===-->

</body>
</html>
