<!--::header part start::-->
<header class="main_menu home_menu">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12">
				<nav class="navbar navbar-expand-lg navbar-light">
					<a class="navbar-brand" href="{{ redirect('') }}">
						<img src="{{ createLink('style/img/logo.png') }}" alt="logo">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse main-menu-item justify-content-center" id="navbarSupportedContent">
						<ul class="navbar-nav align-items-center">
							<li class="nav-item active">
								<a class="nav-link" href="{{ redirect('') }}">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ redirect('about') }}">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ redirect('user/blog') }}">Blog</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ redirect('doctor') }}">Doctors</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Service
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="{{ redirect('statistic-covid') }}">Thống kê covid</a>
									<a class="dropdown-item" href="{{ redirect('book-clinic') }}">Xem lịch khám</a>
									<a class="dropdown-item" href="{{ redirect('user/medican-record') }}?user_id={{ session.get('user').user_id}}">Khai báo y tế</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ redirect('contact') }}">Contact</a>
							</li>
							<li class="nav-item dropdown">
								{% if(Session.get('user') != '') %}
									<a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fa-solid fa-user"></i>
										{{ session.get('user').first_name}}
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="{{ redirect('user/profile')}}?user_id={{ session.get('user').user_id}}">Profile</a>
										<a class="dropdown-item" href="{{ redirect('user/logout') }}">Logout</a>
									</div>
								{% else %}
									<a class="btn_2 d-none d-lg-block" href="{{ redirect('user/login') }}">Login</a>
								{% endif %}
							</li>
							<li class="nav-item"></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<div class="row align-items-center mb-5">
			<div class="col-lg-12">
				<form method="GET" action="{{ redirect('user/search-doctor') }}">
					<div class="input-group rounded">
						<input type="search" name="keyword" class="form-control rounded" placeholder="Nhập bác sĩ cần tìm" aria-label="Search" aria-describedby="search-addon"/>
						<span id="search-addon" style="padding-left:10px">
							<input class="btn btn-info" type="submit" value="Search"/>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</header>
<!-- Header part end-->
