<div>
    {% if calendar_for_view.calendar_info.status == 'Pending' %}
        <div class="" style="margin-bottom: 5px; float: left; margin-right: 5px">
            <form action="{{ redirect('admin/post-calendar-edit-status') }}" method="post">
                <input type="text" hidden name="id" value="{{ calendar_for_view.calendar_info.id }}">
                <input type="text" hidden name="status" value="1">
                <button type="submit" class="btn btn-primary"
                        data-target="#modalDefault">Change approve
                </button>
            </form>
        </div>
        <div>
            <form action="{{ redirect('admin/post-calendar-edit-status') }}" method="post">
                <input type="text" hidden name="id" value="{{ calendar_for_view.calendar_info.id }}">
                <input type="text" hidden name="status" value="2">
                <button type="submit" class="btn btn-danger" data-toggle="modal"
                        data-target="#modalDefault">Change reject
                </button>
            </form>
        </div>
    {% else %}
        {% if calendar_for_view.calendar_info.status == 'Approve' %}
            <div>
                <form action="{{ redirect('admin/post-calendar-edit-status') }}" method="post">
                    <input type="text" hidden name="id" value="{{ calendar_for_view.calendar_info.id }}">
                    <input type="text" hidden name="status" value="2">
                    <button type="submit" class="btn btn-danger" data-toggle="modal"
                            data-target="#modalDefault">Change reject
                    </button>
                </form>
            </div>
        {% else %}
            <div class="" style="margin-bottom: 5px; float: left; margin-right: 5px">
                <form action="{{ redirect('admin/post-calendar-edit-status') }}" method="post">
                    <input type="text" hidden name="id" value="{{ calendar_for_view.calendar_info.id }}">
                    <input type="text" hidden name="status" value="1">
                    <button type="submit" class="btn btn-primary"
                            data-target="#modalDefault">Change approve
                    </button>
                </form>
            </div>
        {% endif %}
    {% endif %}
</div>
