{% extends 'admin/components/base.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="content-page wide-md m-auto">
                    <div class="nk-block-head nk-block-head-lg wide-xs mx-auto">
                        <div class="nk-block-head-content text-center">
                            <h2 class="nk-block-title fw-normal">{{ blog.title }}</h2>
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDefault">{{ translate('edit_blog') }}</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- .nk-block-head -->
                    <div class="modal fade" tabindex="-1" id="modalDefault">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                    <em class="icon ni ni-cross"></em>
                                </a>
                                <div class="modal-header">
                                    <h5 class="modal-title">{{ translate('edit_blog') }}</h5>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ redirect('admin/post-edit-blog') }}" enctype="multipart/form-data" method="post">
                                        <input type="text" hidden name="id" value="{{ blog.id }}">
                                        <div class="card-inner">
                                            <div class="preview-block">
                                                <span class="preview-title-lg overline-title">{{ translate('main_information') }}</span>
                                                <div class="row gy-4">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="title">{{ translate('title') }}</label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control" name="title"
                                                                       id="title" placeholder="Enter Title" value="{{ blog.title }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="avatar">{{ translate('avatar') }}</label>
                                                            <div class="form-control-wrap">
                                                                <div class="custom-file">
                                                                    <input type="file" name="avatar" class="custom-file-input" id="avatar">
                                                                    <label class="custom-file-label" for="avatar">{{ translate('choose_file') }}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="content">{{ translate('content') }}</label>
                                                            <div class="form-control-wrap">
                                                                <textarea type="text" class="form-control" name="content" id="content"
                                                                      placeholder="Enter Last Name">{{ blog.content|raw }}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="preview-hr">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-success">{{ translate('edit_blog') }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer bg-light">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-block">
                        {% if(Session.hasFlash('errorUpdateBlog')) %}
                            <div class="alert alert-danger">{{ session.getFlash('errorUpdateBlog') }}</div>
                        {% endif %}
                        {% if(Session.hasFlash('successUpdateBlog')) %}
                            <div class="alert alert-success">{{ session.getFlash('successUpdateBlog') }}</div>
                        {% endif %}
                        <div class="card card-bordered">
                            <div class="card-inner card-inner-xl">
                                <article class="entry">
                                    {% autoescape false %}
                                    {{ blog.content|raw|html_decode }}
                                    {% endautoescape %}
                                </article>
                            </div>
                        </div>
                    </div><!-- .nk-block -->
                </div><!-- .content-page -->
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% verbatim  %}
    <script>
          tinymce.init({
            selector: '#content',
            skin: false
          });
    </script>
{% endverbatim %}
{% endblock %}
