{% extends 'admin/components/base.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between g-3">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Calendar / <strong
                                        class="text-primary small">{{ calendar_for_view.calendar_info.subject }}</strong>
                            </h3>
                            <div class="nk-block-des text-soft">
                                <ul class="list-inline">
                                    <li>Calendar detail: <span class="text-base"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="nk-block-head-content">
                            <a href="html/user-list-regular.html"
                               class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em
                                        class="icon ni ni-arrow-left"></em><span>Back</span></a>
                            <a href="html/user-list-regular.html"
                               class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em
                                        class="icon ni ni-arrow-left"></em></a>
                        </div>
                    </div>
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    {% if(Session.hasFlash('successUpdateStatus')) %}
                        <div class="alert alert-success">{{ session.getFlash('successUpdateStatus') }}</div>
                    {% endif %}
                    {% if(Session.hasFlash('errorUpdateStatus')) %}
                        <div class="alert alert-danger">{{ session.getFlash('errorUpdateStatus') }}</div>
                    {% endif %}
                    <div class="card card-bordered">
                        <div class="card-aside-wrap">
                            <div class="card-content">
                                <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">
                                            <em class="icon ni ni-user-circle"></em><span>Info</span></a>
                                    </li>
                                </ul><!-- .nav-tabs -->
                                <div class="card-inner">
                                    <div class="nk-block">
                                        <div style="margin-bottom: 5px">
                                            <button type="button" class="btn btn-dim btn-primary" data-toggle="modal"
                                                    data-target="#changeStatusModal">Change status
                                            </button>
                                        </div>
                                        <div style="clear: both"></div>
                                        <div class="nk-block-head nk-block-head-sm nk-block-between">
                                            <h5 class="title">Calendar Information</h5>
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#modalDefault">Edit calendar
                                            </button>
                                        </div><!-- .nk-block-head -->
                                        <div class="profile-ud-list">
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">Subject</span>
                                                    <span class="profile-ud-value">{{ calendar_for_view.calendar_info.subject }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">Full name</span>
                                                    <span class="profile-ud-value">{{ calendar_for_view.calendar_info.full_name }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">Date start</span>
                                                    <span class="profile-ud-value">{{ calendar_for_view.calendar_info.date_start }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">Date end</span>
                                                    <span class="profile-ud-value">{{ calendar_for_view.calendar_info.date_end }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">Status</span>
                                                    <span class="profile-ud-value">
                                                        {% if calendar_for_view.calendar_info.status == 'Pending' %}
                                                            <span class="badge badge-gray badge-sm">{{ calendar_for_view.calendar_info.status }}</span>
                                                        {% elseif calendar_for_view.calendar_info.status == 'Approve' %}
                                                            <span class="badge badge-primary badge-sm">{{ calendar_for_view.calendar_info.status }}</span>
                                                        {% elseif calendar_for_view.calendar_info.status == 'Reject' %}
                                                            <span class="badge badge-danger badge-sm">{{ calendar_for_view.calendar_info.status }}</span>
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        </div><!-- .profile-ud-list -->
                                    </div><!-- .nk-block -->
                                    <div class="nk-block">
                                        <div class="nk-block-head nk-block-head-line">
                                            <h6 class="title overline-title text-base">Attendees</h6>
                                        </div><!-- .nk-block-head -->
                                        <div class="profile-ud-list">
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">Patient</span>
                                                    <span class="profile-ud-value">{{ calendar_for_view.attendees_info.patient.full_name }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">Doctor</span>
                                                    <span class="profile-ud-value">{{ calendar_for_view.attendees_info.doctor.full_name }}</span>
                                                </div>
                                            </div>
                                        </div><!-- .profile-ud-list -->
                                    </div><!-- .nk-block -->
                                    <div class="nk-divider divider md"></div>
                                    <!-- Modal Content Code -->
                                </div><!-- .card-inner -->
                            </div><!-- .card-content -->
                        </div><!-- .card-aside-wrap -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
        <div class="modal zoom" tabindex="-1" id="changeStatusModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                        <em class="icon ni ni-cross"></em>
                    </a>
                    <div class="modal-header">
                        <h5 class="modal-title">Change status</h5>
                    </div>
                    <div class="modal-body">
                        <form action="{{ redirect('admin/post-calendar-edit-status') }}" method="post">
                            <input type="text" hidden name="id" value="{{ calendar_for_view.calendar_info.id }}">
                            <div class="row gy-4">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="custom-control custom-radio" style="margin-right: 5px">
                                            <input type="radio" id="customRadio1" name="status" value="1"
                                                   class="custom-control-input" {{ calendar_for_view.calendar_info.status == 'Approve' ? 'checked' : '' }}>
                                            <label class="custom-control-label text-primary" for="customRadio1">Approve</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio2" name="status" value="2"
                                                   class="custom-control-input" {{ calendar_for_view.calendar_info.status == 'Reject' ? 'checked' : '' }}>
                                            <label class="custom-control-label text-danger" for="customRadio2">Reject</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label" for="note">Note</label>
                                        <div class="form-control-wrap">
                                            <textarea class="form-control no-resize" id="note" name="note" placeholder="Note"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <button class="btn btn-primary js-btn-cancel">Change</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
