{% extends 'admin/components/base.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between g-3">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">{{ translate('health_declaration') }} / <strong class="text-primary small">{{ info.full_name }}</strong></h3>
                            <div class="nk-block-des text-soft">
                                <ul class="list-inline">
                                    <li>ID: <span class="text-base">{{ info.id }}</span></li>
                                </ul>
                            </div>
                        </div>
                        {% include('admin/components/back_button.twig') %}
                    </div>
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-aside-wrap">
                            <div class="card-content">
                                <div class="card-inner">
                                    <div class="nk-block">
                                        <div class="nk-block-head nk-block-head-sm nk-block-between">
                                            <h5 class="title">{{ translate('personal_information') }}</h5>
                                        </div><!-- .nk-block-head -->
                                        <div class="profile-ud-list">
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{{ translate('full_name') }}</span>
                                                    <span class="profile-ud-value">{{ info.full_name }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{{ translate('gender') }}</span>
                                                    <span class="profile-ud-value">{{ info.gender }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{{ translate('date_of_birth') }}</span>
                                                    <span class="profile-ud-value">{{ info.birthday }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{{ translate('identity_card') }}</span>
                                                    <span class="profile-ud-value">{{ info.identity_card }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{{ translate('email') }}</span>
                                                    <span class="profile-ud-value">{{ info.email }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{{ translate('phone') }}</span>
                                                    <span class="profile-ud-value">{{ info.phone }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{{ translate('way') }}</span>
                                                    <span class="profile-ud-value">{{ info.way }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{{ translate('district') }}</span>
                                                    <span class="profile-ud-value">{{ info.district }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{{ translate('wards') }}</span>
                                                    <span class="profile-ud-value">{{ info.ward }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{{ translate('province') }}</span>
                                                    <span class="profile-ud-value">{{ info.province }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{{ translate('time') }}</span>
                                                    <span class="profile-ud-value">{{ info.created_at }}</span>
                                                </div>
                                            </div>
                                        </div><!-- .profile-ud-list -->
                                    </div><!-- .nk-block -->
                                    <div class="nk-block">
                                        <div class="nk-block-head nk-block-head-line">
                                            <h6 class="title overline-title text-base">{{ translate('health_declaration') }}</h6>
                                        </div><!-- .nk-block-head -->
                                        <div class="profile-ud-list">
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{{ translate('go_description') }}</span>
                                                    <span class="profile-ud-value">{{ info.health_declaration.go }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{{ translate('signal_description') }}</span>
                                                    <span class="profile-ud-value">{{ info.health_declaration.signal }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{{ translate('contact_description') }}</span>
                                                    <span class="profile-ud-value">{{ info.health_declaration.contact }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{{ translate('country_description') }}</span>
                                                    <span class="profile-ud-value">{{ info.health_declaration.country_covid }}</span>
                                                </div>
                                            </div>
                                            <div class="profile-ud-item">
                                                <div class="profile-ud wider">
                                                    <span class="profile-ud-label">{{ translate('symptoms_description') }}</span>
                                                    <span class="profile-ud-value">{{ info.health_declaration.symptoms }}</span>
                                                </div>
                                            </div>
                                        </div><!-- .profile-ud-list -->
                                    </div><!-- .nk-block -->
                                    <div class="nk-divider divider md"></div>
                                </div><!-- .card-inner -->
                            </div><!-- .card-content -->
                        </div><!-- .card-aside-wrap -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
{% endblock %}
