{% extends 'admin/components/base.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Medicine List</h3>
                            <div class="nk-block-des text-soft">
                                <p>You have total 2,595 users.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em
                                            class="icon ni ni-menu-alt-r"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li><a href="#" class="btn btn-white btn-outline-light"><em
                                                        class="icon ni ni-download-cloud"></em><span>Export</span></a>
                                        </li>
                                        <li class="nk-block-tools-opt">
                                            <div class="drodown">
                                                <a href="#" class="dropdown-toggle btn btn-icon btn-primary"
                                                   data-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#" data-toggle="modal"
                                                               data-target="#addMedicineTypeModal"><span>Add medicine type</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="modal fade" tabindex="-1" id="addMedicineTypeModal">
                                                    <div class="modal-dialog modal-xl" role="document">
                                                        <div class="modal-content">
                                                            <a href="#" class="close" data-dismiss="modal"
                                                               aria-label="Close">
                                                                <em class="icon ni ni-cross"></em>
                                                            </a>
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Add medicine type</h5>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="{{ redirect('admin/post-add-medicine-type') }}"
                                                                      method="post">
                                                                    <div class="card-inner">
                                                                        <div class="preview-block">
                                                                            <span class="preview-title-lg overline-title">Medicine Type Information</span>
                                                                            <div class="row gy-4">
                                                                                <div class="col-sm-6">
                                                                                    <div class="form-group">
                                                                                        <label class="form-label"
                                                                                               for="name">Name</label>
                                                                                        <div class="form-control-wrap">
                                                                                            <input type="text"
                                                                                                   class="form-control"
                                                                                                   name="name"
                                                                                                   id="name"
                                                                                                   placeholder="Enter Name">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-12">
                                                                                    <div class="form-group">
                                                                                        <label class="form-label"
                                                                                               for="description">Description</label>
                                                                                        <div class="form-control-wrap">
                                                                                <textarea type="text"
                                                                                          class="form-control"
                                                                                          name="description"
                                                                                          id="description"
                                                                                          placeholder="Enter description"></textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <hr class="preview-hr">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <button type="submit"
                                                                                            class="btn btn-success">Add
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer bg-light">
                                                                <span class="sub-text">Modal Footer Text</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- .toggle-wrap -->
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    {% if(Session.hasFlash('errorAddMedicineType')) %}
                        <div class="alert alert-danger">{{ session.getFlash('errorAddMedicineType') }}</div>
                    {% endif %}
                    {% if(Session.hasFlash('successAddMedicineType')) %}
                        <div class="alert alert-success">{{ session.getFlash('successAddMedicineType') }}</div>
                    {% endif %}
                    <div class="card card-bordered card-stretch">
                        <div class="card-inner-group">
                            <div class="card-inner position-relative card-tools-toggle">
                                <div class="card-title-group">
                                    <div class="card-tools mr-n1">
                                        <ul class="btn-toolbar gx-1">
                                            <li>
                                                <a href="#" class="btn btn-icon search-toggle toggle-search"
                                                   data-target="search"><em class="icon ni ni-search"></em></a>
                                            </li><!-- li -->
                                            <li class="btn-toolbar-sep"></li><!-- li -->
                                        </ul><!-- .btn-toolbar -->
                                    </div><!-- .card-tools -->
                                </div><!-- .card-title-group -->
                                <div class="card-search search-wrap" data-search="search">
                                    <div class="card-body">
                                        <div class="search-content">
                                            <a href="#" class="search-back btn btn-icon toggle-search"
                                               data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                            <input type="text" class="form-control border-transparent form-focus-none"
                                                   placeholder="Search by user or email">
                                            <button class="search-submit btn btn-icon"><em
                                                        class="icon ni ni-search"></em></button>
                                        </div>
                                    </div>
                                </div><!-- .card-search -->
                            </div><!-- .card-inner -->
                            <div class="card-inner p-0">
                                <div class="nk-tb-list nk-tb-ulist is-compact">
                                    <div class="nk-tb-item nk-tb-head">
                                        <div class="nk-tb-col nk-tb-col-check">
                                            <div class="custom-control custom-control-sm custom-checkbox notext">
                                                <input type="checkbox" class="custom-control-input" id="uid">
                                                <label class="custom-control-label" for="uid"></label>
                                            </div>
                                        </div>
                                        <div class="nk-tb-col"><span class="sub-text">Id</span></div>
                                        <div class="nk-tb-col"><span class="sub-text">Name</span></div>
                                        <div class="nk-tb-col nk-tb-col-tools text-right">Action</div>
                                    </div><!-- .nk-tb-item -->
                                    {% for medicine in medicines %}
                                        <div class="nk-tb-item">
                                            <div class="nk-tb-col nk-tb-col-check">
                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                    <input type="checkbox" class="custom-control-input" id="uid1">
                                                    <label class="custom-control-label" for="uid1"></label>
                                                </div>
                                            </div>
                                            <div class="nk-tb-col tb-col-md">
                                                <span>{{ medicine.id }}</span>
                                            </div>
                                            <div class="nk-tb-col">
                                                <span>{{ medicine.name }}</span>
                                            </div>
                                            <div class="nk-tb-col nk-tb-col-tools">
                                                <ul class="nk-tb-actions gx-2">
                                                    <li>
                                                        <div class="drodown">
                                                            <a href="#"
                                                               class="btn btn-sm btn-icon btn-trigger dropdown-toggle"
                                                               data-toggle="dropdown"><em
                                                                        class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li>
                                                                        <a href="{{ redirect('admin/medicine-detail', {'id': medicine.id}) }}"><em
                                                                                    class="icon ni ni-eye"></em><span>View Details</span></a>
                                                                    </li>
                                                                    <li class="divider"></li>
                                                                    <li><a href="#"><em
                                                                                    class="icon fas fa-trash-alt"></em><span>Delete Medicine</span></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- .nk-tb-item -->
                                    {% endfor %}
                                </div><!-- .nk-tb-list -->
                            </div><!-- .card-inner -->
                            <div class="card-inner">
                                <ul class="pagination justify-content-center justify-content-md-start">
                                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><span class="page-link"><em
                                                    class="icon ni ni-more-h"></em></span></li>
                                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul><!-- .pagination -->
                            </div><!-- .card-inner -->
                        </div><!-- .card-inner-group -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% verbatim  %}
<script>
    tinymce.init({
    selector: '#description'
});
</script>
{% endverbatim  %}
{% endblock %}
