{% extends 'admin/components/base.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between g-3">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">{{ translate('medical_file') }} / <strong
                                        class="text-primary small">{{ translate('add') }}</strong></h3>
                        </div>
                        {% include('admin/components/back_button.twig') %}
                    </div>
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    {% if(Session.hasFlash('successAddMedicalFile')) %}
                        <div class="alert alert-success">{{ session.getFlash('successAddMedicalFile') }}</div>
                    {% endif %}
                    {% if(Session.hasFlash('errorAddMedicalFile')) %}
                        <div class="alert alert-danger">{{ session.getFlash('errorAddMedicalFile') }}</div>
                    {% endif %}
                    <form action="{{ redirect('admin/post-medical-file-add') }}" method="post">
                        <div class="card-inner">
                            <div class="preview-block">
                                <span class="preview-title-lg overline-title">{{ translate('main_information') }}</span>
                                <div class="row gy-4">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="first-name">{{ translate('first_name') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" name="first-name"
                                                       id="first-name" placeholder="{{ translate('first_name') }}e">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="last-name">{{ translate('last_name') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" name="last-name" id="last-name"
                                                       placeholder="{{ translate('last_name') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="password">{{ translate('gender') }}</label>
                                            <div class="form-control-wrap">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="nam" name="gender" value="Male"
                                                           class="custom-control-input" checked>
                                                    <label class="custom-control-label" for="nam">{{ translate('male') }}</label>
                                                </div>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="nu" name="gender" value="Female"
                                                           class="custom-control-input">
                                                    <label class="custom-control-label" for="nu">{{ translate('female') }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="birthday">{{ translate('birthday') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="date" class="form-control" name="birthday" id="birthday"
                                                       placeholder="{{ translate('birthday') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="phone">{{ translate('phone') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" name="phone" id="phone"
                                                       placeholder="{{ translate('phone') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="email">{{ translate('email_address') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="email" class="form-control" name="email" id="email"
                                                       placeholder="{{ translate('email_address') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="identity-card">{{ translate('identity_card') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" name="identity-card"
                                                       id="identity-card" placeholder="{{ translate('identity_card') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="city">{{ translate('province') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" name="province"
                                                       id="city" placeholder="{{ translate('province') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="district">{{ translate('district') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" name="district"
                                                       id="district" placeholder="{{ translate('district') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="wards">{{ translate('wards') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" name="wards"
                                                       id="wards" placeholder="{{ translate('wards') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="house-number">{{ translate('way') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" name="way"
                                                       id="house-number" placeholder="{{ translate('way') }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="preview-hr">
                                <span class="preview-title-lg overline-title">{{ translate('other_information') }}</span>
                                <div class="row gy-4">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="health-insurance-number">{{ translate('health_insurance_number') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" name="health-insurance-number" id="health-insurance-number"
                                                       placeholder="{{ translate('health_insurance_number') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="expiration-date">{{ translate('expiration_date') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="date" class="form-control" name="expiration-date" id="expiration-date"
                                                       placeholder="{{ translate('expiration_date') }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="preview-hr">
                                <span class="preview-title-lg overline-title">{{ translate('covid_vaccination') }}</span>
                                <div class="row gy-4">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="name-1">{{ translate('injection') }} 1 - {{ translate('name_vaccine') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" name="name-1" id="name-1"
                                                       placeholder="{{ translate('name_vaccine') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="date-1">{{ translate('injection') }} 1 - {{ translate('vaccination_date') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="date" class="form-control" name="date-1" id="date-1"
                                                       placeholder="Enter {{ translate('vaccination_date') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="name-2">{{ translate('injection') }} 2 - {{ translate('name_vaccine') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" name="name-2" id="name-2"
                                                       placeholder="{{ translate('name_vaccine') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="date-2">{{ translate('injection') }} 2- {{ translate('vaccination_date') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="date" class="form-control" name="date-2" id="date-2"
                                                       placeholder="{{ translate('vaccination_date') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="name-3">{{ translate('injection') }} 3 - {{ translate('name_vaccine') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" name="name-3" id="name-3"
                                                       placeholder="{{ translate('name_vaccine') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="date-3">{{ translate('injection') }} 3- {{ translate('vaccination_date') }}</label>
                                            <div class="form-control-wrap">
                                                <input type="date" class="form-control" name="date-3" id="date-3"
                                                       placeholder="{{ translate('vaccination_date') }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="preview-hr">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">{{ translate('add') }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
{% endblock %}
