<div class="nk-sidebar-menu" data-simplebar>
    <ul class="nk-menu">
        <li class="nk-menu-heading">
            <h6 class="overline-title text-primary-alt">Menu</h6>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item">
            <a href="{{ redirect('admin/user-list') }}" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-user-list"></em></span>
                <span class="nk-menu-text">{{ translate('manage_user') }}</span>
            </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item">
            <a href="{{ redirect('admin/medical-file-list') }}" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                <span class="nk-menu-text">{{ translate('manage_medical_files') }}</span>
            </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item">
            <a href="{{ redirect('admin/medicine-list') }}" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon fas fa-capsules"></em></span>
                <span class="nk-menu-text">{{ translate('manage_medicine') }}</span>
            </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item">
            <a href="{{ redirect('admin/medicine-type-list') }}" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon fas fa-capsules"></em></span>
                <span class="nk-menu-text">{{ translate('manage_medicine_type') }}</span>
            </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item">
            <a href="{{ redirect('admin/blog-list') }}" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon fas fa-blog"></em></span>
                <span class="nk-menu-text">{{ translate('manage_blog') }}</span>
            </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item">
            <a href="{{ redirect('admin/contact-list') }}" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon fas fa-address-book"></em></span>
                <span class="nk-menu-text">Manage contact</span>
            </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item">
            <a href="{{ redirect('admin/health-declaration-list') }}" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon fas fa-address-book"></em></span>
                <span class="nk-menu-text">Manage health declaration</span>
            </a>
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item">
            <a href="{{ redirect('admin/calendar') }}" class="nk-menu-link">
                <span class="nk-menu-icon"><em class="icon fas fa-address-book"></em></span>
                <span class="nk-menu-text">Calendar</span>
            </a>
        </li><!-- .nk-menu-item -->
    </ul><!-- .nk-menu -->
</div><!-- .nk-sidebar-menu -->
